.MyFilmsList {
    width: 600px;
    margin: 70px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
    align-items: center;
}

header input.name {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #000;
    font-size: 16px;
    color: #000;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    flex-grow: 1;
    margin-right: 10px;
}

button.add {
    display: block;
    height: 30px;
    width: 100px;
    color: #000;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #000;
    font-size: 18px;
    background: none;
}

.content {
    border: 2px solid #000;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 400px;
    position: relative;
}

.content ul li {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px dashed #000;
}

.content ul li input.name {
    flex-grow: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    margin-right: 20px;
    border: 2px solid #000;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

.content ul li button.delete {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}



