button {
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 40px;
    background: red;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid #cccccc;
}

.ChucknorrisJokes {
    width: 800px;
    margin: 20px auto;
    border: 3px solid #cccccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}

.Joke {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

.Joke img {
    display: block;
    margin-right: 10px;
}

.Joke p {
    width: calc(100% - 70px)
}